name: Code and Docs Lint

on:
  workflow_call:
    secrets:
      UNITY_LICENSE:
        required: true

jobs:
  dotnet-code-format:
    name: Dotnet Code Validation
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setvars
      - uses: ./.github/actions/git-lfs-cache
      - uses: ./.github/actions/unity-library-cache
        with:
          target_platform: WebGL

      - name: Ensure .sln file is generated
        uses: game-ci/unity-builder@v2
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          unityVersion: ${{ env.UNITY_VERSION }}
          buildMethod: Packages.Rider.Editor.RiderScriptEditor.SyncSolution

      - name: Set up .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "6.0.x"

      # Restore dotnet tools. This handles cache implicitly.
      - run: dotnet tool restore

      - name: Format C# Code
        run: dotnet format workspace.sln --severity warn --verbosity detailed --exclude --exclude Library --verify-no-changes

      - name: Format C# Whitespace
        run: dotnet format whitespace workspace.sln --verbosity detailed --exclude Library --verify-no-changes

  lint-markdown:
    name: Lint Markdown Files
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - name: Check out code
      uses: actions/checkout@v3
    - uses: ./.github/actions/setvars

    - name: Lint Markdown Files
      uses: avto-dev/markdown-lint@v1
      with:
        args: '.'

  # Build the documentation
  docfx-check:
    name: DocFx Documentation Validation
    runs-on: windows-latest # Required by DocFX
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setvars
      - uses: ./.github/actions/git-lfs-cache

      # Restore dotnet tools. This handles cache implicitly.
      - run: dotnet tool restore

      - name: Build Website
        run: .\Documentation\build-validation.cmd
